{% extends 'layout.html' %}

{% block content %}
<div id="list" class="files list">
    <div class="row">
    <a href="/files/">Home</a>
    {% for c in crumb %}
        {% if c.link === '' %}
            / <span>{{c.name}}</span>
        {% else %}
            / <a href="{{c.link}}">{{c.name}}</a>
        {% endif %}
    {% endfor %}
    </div>
    {% if crumb.length %}
    <a href="../" class="row file">
        <div class="large-1 columns">
            <i class="foundicon-left-arrow"></i>
        </div>
        <div class="large-11 columns">
            <div class="name">Back</div>
        </div>
    </a>
    {% endif %}
    {% for file in folder.files %}
        {% if file.stats.isDirectory() %}
            <a href="{{file.name}}" class="row file folder">
                <div class="large-1 columns">
                    <i class="foundicon-folder"></i>
                </div>
                <div class="large-11 columns">
                    <div class="name">{{file.name}}</div>
                </div>
            </a>
        {% endif %}
    {% endfor %}
    {% for file in folder.files %}
        {% if file.stats.isFile() %}
            <a href="{{file.name}}" class="row file">
                <div class="large-1 columns">
                    <i class="foundicon-{{file.icon}}"></i>
                    <!-- {{ file.type }} -->
                </div>
                <div class="large-11 columns">
                    <div class="name">{{file.name}}</div>
                    <div class="size">{{file.stats.size | toMB}} MB</div>
                </div>
            </a>
        {% endif %}
    {% endfor %}

    <div class="folder-size">
    Total Size: {{ folder.size | toMB }} MB
    </div>
</div>
{% endblock %}
